.search input {
  background-color: lightgrey;
  margin: 1em;
}

.search-icon {
  transform: rotate(45deg); 
  margin: 0;
}

.recipe-list {
    color:darkgreen;
    margin:1em;
    padding: 0;
}


.recipe-list li {
  display: grid;
  grid-template-areas: 
    "icon header      difficulty"
    "icon ingredients meals"
    "icon ingredients select";
  grid-template-columns: 250px 1fr 15vw;
  border: 1px solid #eee;
  column-gap: 1rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
  padding: .5rem 0;
  align-items: center;
}
    
.recipe-list li img {
  max-width: 250px;
  margin-left: 0.5rem;
  border-radius: .25rem;
  grid-area: 'icon'
}

.recipe-list li a {
  font-size: 1.5em;
  color: green;
  grid-area: header;
}

.recipe-list li .ingredients {
  grid-area: ingredients;
}

.recipe-list li .difficulty {
  grid-area: difficulty;
}

.recipe-list li .meals {
  grid-area: meals;
}
  